<a href="https://colab.research.google.com/github/ecemokse/patika.python.projects/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"ab"+"cd"

'abcd'

In [16]:
x="   Hello World!   "
print( x[-4])
print(len(x))
print(x.upper())
print(type(x))
print(x)
print(x.strip())

!
18
   HELLO WORLD!
<class 'str'>
   Hello World!
Hello World!

In [14]:
x = 2*2**3
print(x)

16

In [17]:
aTuple = "Yellow", 20, "Red"
a, b, c = aTuple
print(a)

Yellow

In [18]:
lst = [3,4,5,6,7]
lst[1:2] = [7,8]
print(lst)

[3, 7, 8, 5, 6, 7]

In [19]:
lst = []*3
print(lst)

[]

In [24]:
a = [10, 20, 30]
total = 0
for e in a:
    total += e
print(total)

60

In [25]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [26]:
lst = range(1 ,10)
total = 0
for i in lst:
  if i%3 == 0:
    total += i
print(total)

18

In [38]:
list = range(1, 101)
lstt = []
for i in list:
  if i%3 == 0 and i%5 == 0:
    lstt.append(i)
print(lstt)
print(list)

[15, 30, 45, 60, 75, 90]
range(1, 101)

In [10]:
given_list = [7, 6, 5, 4, 3, 2, -3, -5, -7, -8]
i = 0
total = 0
given_list.sort()
while given_list[i]<0:
  total += given_list[i]
  i += 1
print(total)

-23

In [35]:
list=[]
i = 0
while i<11:
  list.append(i)
  i += 1
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
i = 0
for i in list1:
  print(i)

12
15
32
42
55
75
122
132
150
180
200

In [92]:
 x=int(input())
 i=0 

 while (i<10):
   mult = i*x
   print(x,"x", i, "=", mult)
   i += 1

7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [48]:
for num in range(2,-5,-1):

  print(num, end = ",")

2,1,0,-1,-2,-3,-4,

In [49]:
numbers = [10, 20]
items = ["Chair", "Table"]
for x in numbers:
    for y in items:
        print(x, y)

10 Chair
10 Table
20 Chair
20 Table

In [52]:
for k in range(0,5,1):
  print(k)

0
1
2
3
4

In [58]:
x=0
while (x<100):
  x+=2
print(x)

100

In [67]:
#Take values of length and breadth of a rectangle from the user and check if it is a square.
x = input(int())
y = input(int())
if x==y:
  print('it is a square')
else:
  print('it is not a square')

05
05
it is a square

In [93]:
x= int(input())
y= int(input())
if x>y:
  print("bigger one is", x)
else:
    print("bigger one is", y)

6
9
bigger one is 9

In [80]:
x =  int(input())
if x >= 18:
  print("eligable for voting")
else:
  print("cannot vote")

67
eligable voting

In [82]:
#Write a Python program to add a key to a dictionary.
#Sample Dictionary : {0: 10, 1: 20}
#Expected Result : {0: 10, 1: 20, 2: 30}

d={0:10, 1:20}
d[2]=30
print(d)

{0: 10, 1: 20, 2: 30}

In [83]:
for num in range(10,14):
  for i in range(2,num):
    if num%i == 1:
      print(num)
      break

10
11
12
13

In [85]:
var = 10
for i in range(10):
  for j in range(2,10,1):
    if var%2 == 0:
      continue
      var+=1
  var+=1
else:
  var+=1
print(var)

21

In [87]:
d = {"john":40, "peter":45}
print(len(d))

2

In [100]:
import calendar
cal = calendar.month(1998, 5)
print(cal)
calendar.isleap(1998)

      May 1998
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

False

In [101]:
def func(x=1,y=2):
  x=x+y
  y+=1
  print(x,y)
func(y=2, x=1)

3 3